.chintya{
    color: rgb(8, 1, 1);
    font-family: helvetica;
  
}
body{
    background-image: url(background/piu.jpg) ;
    width: 80%;
    background-color: rgba(15, 37, 11, 0.76);
    margin: auto;
    padding: 120px 80px;
   
